## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
*.swo

## PROJECT::GENERAL
rdoc
pkg
log

## PROJECT::SPECIFIC
test_states/
cloud_variables/
collateral/
.config.yaml
